
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<input type="file" title="PDF 파일 선택" id="btnPDF" />


<script>
    $(document).ready(function () {

        $("#btnPDF").on('change', function () {
            if ($("#btnPDF").val() != '') {
                alert($("#btnPDF").val());

                $.ajax({
                    type: 'post',
                    url: 'Home/FileTest',
                    data: { 'file': document.getElementById("btnPDF").files[0].path },
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data.result);
                        alert(data.result);

                    }
                });


            } else {
                alert('없음');
            }

        });


    });
</script>